################################################################################
# Terraform Azure Resource Manager (ARM) backend state storage configuration   #
# https://developer.hashicorp.com/terraform/language/settings/backends/azurerm #
################################################################################

resource_group_name  = "ArtistAnywhere"  # Set to same value in variables.tf file as resourceGroupName
storage_account_name = "xstudio0"        # Set to same value in variables.tf file as storage.accountName
container_name       = "terraform-state" # Set to same value in variables.tf file as storage.containerName.terraformState
