################################################################################
# Terraform Azure Resource Manager (ARM) backend state storage configuration   #
# https://developer.hashicorp.com/terraform/language/settings/backends/azurerm #
################################################################################

resource_group_name  = "ArtistAnywhere"  # Set to the same value as resourceGroupName in variables.tf file
storage_account_name = "xstudio0"        # Set to the same value as storage.accountName in variables.tf file
container_name       = "terraform-state" # Set to the same value as storage.containerName in variables.tf file
